<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>四究竟法</title>
        <script src="vue.3.2.31.js"></script>
    </head>
    <style>
        .div1, .div2, .div3, .div4  { display: inline-block; vertical-align: top; }
        table { border-width: 0px; border-spacing: 0px; margin: 10px; cursor: pointer; max-width: 250px; }
        .div4 table { cursor: auto; }
        td { border: 3px solid; border-top-width:1px; border-bottom-width: 0px; padding: 5px; }
        tr:first-child td { border-top-width: 3px; border-radius: 10px 10px 0 0; text-align: center; }
        tr:last-child td { border-bottom-width: 3px; border-radius: 0 0 10px 10px; }
        .div1 td { border-color: #bf5600; }
        .div2 td { border-color: #bfac00; }
        .div3 td { border-color: #00bf8f; }
        .div4 td { border-color: #004cbf; }
        .div1 td { background-color: rgb(255 187 187 / 20%); }
        .div2 td { background-color: rgb(255 243 187 / 20%); }
        .div3 td { background-color: rgb(189 255 187 / 20%); }
        .div4 td { background-color: rgb(187 197 255 / 20%); }
        .div1 tr:first-child td { background-color: rgb(255, 187, 187); }
        .div2 tr:first-child td { background-color: rgb(255, 243, 187); }
        .div3 tr:first-child td { background-color: rgb(189, 255, 187); }
        .div4 tr:first-child td { background-color: rgb(187, 197, 255); }
    </style>
    <body>
        <div id="four">
            <div style="text-align: center;"><h2>四究竟法</h2>
                <h3>資料採用自《阿毗達摩概要精解》　英編：菩提比丘　中譯：尋法比丘</h3></div>
            <div>
                <four-1 v-for="item in data1" :item="item" @click="show_level2(item)"></four-1>
            </div>
            <hr>
            <div>
                <four-2 v-for="item in data2" :item="item" @click="show_level3(item)" :seen="isshow2(item.head)" ></four-2>
            </div>
            <hr>
            <div>
                <four-3 v-for="item in data3" :item="item" @click="show_level4(item)" :seen="isshow3(item)"></four-3>
            </div>
            <hr>
            <div>
                <button @click="data4 = []">清除全部</button><br>
                <four-4 v-for="(item, index) in data4" :item="item" :index="index" @delme="onDelme"></four-4>
                <br><button @click="data4 = []">清除全部</button>
            </div>
            <hr>
            <div style="text-align: center;">
                <p><a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh_TW" target="_blank"><img alt="創用 CC 授權條款" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />本著作係採用<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh_TW" target="_blank">創用 CC 姓名標示-非商業性-相同方式分享 4.0 國際 授權條款</a>授權.</p>
                <p>By <a href="https://github.com/heavenchou/paramattha" target="_blank">Heaven Chou</a> 2022/02/20</p>
            </div>
        </div>

        <script>
            const App = {
                data() {
                    return {
                        level1_title: '',
                        level2_id: 0,
                        data1: [
                            { title: '心' , skandha: '五蘊：識蘊', 
                                Item1: '特相：識知目標',
                                Item2: '作用：作為諸心所的前導者', 
                                Item3: '現起：呈現於禪修者的體驗裡為一個相續不斷的過程', 
                                Item4: '近因：名色（精神與物質）'},
                            { title: '心所' , skandha: '五蘊：受、想、行蘊', 
                                Item1: '與心同生',
                                Item2: '與心同滅', 
                                Item3: '與心緣取同一目標', 
                                Item4: '與心擁有同一依處'},
                            { title: '色法' , skandha: '五蘊：色蘊', 
                                Item1: '被冷、熱、飢餓、口渴、蒼蠅、蚊子、風、烈日及爬蟲所破壞',
                                Item2: '四大元素：地水火風', 
                                Item3: '四大元素所造色', 
                                Item4: '完成色、不完成色'},
                            { title: '涅槃' , skandha: '出世間無為不死界', 
                                Item1: '熄滅了世間的貪、瞋、痴之火',
                                Item2: '渴愛的糾纏的不存在或離去', 
                                Item3: '有餘涅槃、無餘涅槃', 
                                Item4: '空、無相、無願'}
                        ],
                        data2: [
                            { id: 1, head: '心', title: '欲界心' , detail: '不善心'},
                            { id: 2, head: '心', title: '欲界心' , detail: '無因心'},
                            { id: 3, head: '心', title: '欲界心' , detail: '美心'},
                            { id: 4, head: '心', title: '色界心' , detail: '色界善心' },
                            { id: 5, head: '心', title: '色界心' , detail: '色界果報心' },
                            { id: 6, head: '心', title: '色界心' , detail: '色界唯作心' },
                            { id: 7, head: '心', title: '無色界心' , detail: '無色界善心' },
                            { id: 8, head: '心', title: '無色界心' , detail: '無色界果報心' },
                            { id: 9, head: '心', title: '無色界心' , detail: '無色界唯作心' },
                            { id: 10, head: '心', title: '出世間心' , detail: '道心' },
                            { id: 11, head: '心', title: '出世間心' , detail: '果心' },
                            { id: 12, head: '心所', title: '十三通一切心所' , detail: '七遍一切心' },
                            { id: 13, head: '心所', title: '十三通一切心所' , detail: '六雜' },
                            { id: 14, head: '心所', title: '十四不善心所' , detail: '四通一切不善心' },
                            { id: 15, head: '心所', title: '十四不善心所' , detail: '三貪因' },
                            { id: 16, head: '心所', title: '十四不善心所' , detail: '四瞋因' },
                            { id: 17, head: '心所', title: '十四不善心所' , detail: '二有行' },
                            { id: 18, head: '心所', title: '十四不善心所' , detail: '一痴因' },
                            { id: 19, head: '心所', title: '二十五美心所' , detail: '十九通一切美心' },
                            { id: 20, head: '心所', title: '二十五美心所' , detail: '三離' },
                            { id: 21, head: '心所', title: '二十五美心所' , detail: '二無量' },
                            { id: 22, head: '心所', title: '二十五美心所' , detail: '一無痴' },
                            { id: 23, head: '色法', title: '十八種完成色' , detail: '元素色'},
                            { id: 24, head: '色法', title: '十八種完成色' , detail: '淨色'},
                            { id: 25, head: '色法', title: '十八種完成色' , detail: '境色'},
                            { id: 26, head: '色法', title: '十八種完成色' , detail: '性根色'},
                            { id: 27, head: '色法', title: '十八種完成色' , detail: '心色'},
                            { id: 28, head: '色法', title: '十八種完成色' , detail: '命色'},
                            { id: 29, head: '色法', title: '十八種完成色' , detail: '食色'},
                            { id: 30, head: '色法', title: '不完全色' , detail: '限制色' },
                            { id: 31, head: '色法', title: '不完全色' , detail: '表色' },
                            { id: 32, head: '色法', title: '不完全色' , detail: '變化色' },
                            { id: 33, head: '色法', title: '不完全色' , detail: '相色' },
                            { id: 34, head: '涅槃', title: '涅槃' , detail: '有餘無餘' },
                            { id: 35, head: '涅槃', title: '涅槃' , detail: '三解脫' }
                        ],
                        data3: [
                            {id: 1, title: '悅俱邪見相應無行一心', Item1: '貪根', Item2: '悅受', Item3: '邪見相應', Item4: '無行'},
                            {id: 1, title: '悅俱邪見相應有行一心', Item1: '貪根', Item2: '悅受', Item3: '邪見相應', Item4: '有行'},
                            {id: 1, title: '悅俱邪見不相應無行一心', Item1: '貪根', Item2: '悅受', Item3: '邪見不相應', Item4: '無行'},
                            {id: 1, title: '悅俱邪見不相應有行一心', Item1: '貪根', Item2: '悅受', Item3: '邪見不相應', Item4: '有行'},
                            {id: 1, title: '捨俱邪見相應無行一心', Item1: '貪根', Item2: '捨受', Item3: '邪見相應', Item4: '無行'},
                            {id: 1, title: '捨俱邪見相應有行一心', Item1: '貪根', Item2: '捨受', Item3: '邪見相應', Item4: '有行'},
                            {id: 1, title: '捨俱邪見不相應無行一心', Item1: '貪根', Item2: '捨受', Item3: '邪見不相應', Item4: '無行'},
                            {id: 1, title: '捨俱邪見不相應有行一心', Item1: '貪根', Item2: '捨受', Item3: '邪見不相應', Item4: '有行'},
                            {id: 1, title: '憂俱瞋恚相應無行一心', Item1: '瞋根', Item2: '憂受', Item3: '瞋恚相應', Item4: '無行'},
                            {id: 1, title: '憂俱瞋恚相應有行一心', Item1: '瞋根', Item2: '憂受', Item3: '瞋恚相應', Item4: '有行'},
                            {id: 1, title: '捨俱疑相應一心', Item1: '痴根', Item2: '捨受', Item3: '疑相應', Item4: '無行(列迪長老)'},
                            {id: 1, title: '捨俱掉舉相應一心', Item1: '痴根', Item2: '捨受', Item3: '掉舉相應', Item4: '無行(列迪長老)'},
                            {id: 2, title: '眼識與捨俱行', Item1: '無因', Item2: '捨受', Item3: '不善果報心', Item4: '雙五識'},
                            {id: 2, title: '耳識與捨俱行', Item1: '無因', Item2: '捨受', Item3: '不善果報心', Item4: '雙五識'},
                            {id: 2, title: '鼻識與捨俱行', Item1: '無因', Item2: '捨受', Item3: '不善果報心', Item4: '雙五識'},
                            {id: 2, title: '舌識與捨俱行', Item1: '無因', Item2: '捨受', Item3: '不善果報心', Item4: '雙五識'},
                            {id: 2, title: '身識與苦俱行', Item1: '無因', Item2: '苦受', Item3: '不善果報心', Item4: '雙五識'},
                            {id: 2, title: '領受與捨俱行', Item1: '無因', Item2: '捨受', Item3: '不善果報心', Item4: '領受心'},
                            {id: 2, title: '推度與捨俱行', Item1: '無因', Item2: '捨受', Item3: '不善果報心', Item4: '推度心'},
                            {id: 2, title: '眼識與捨俱行', Item1: '無因', Item2: '捨受', Item3: '善果報心', Item4: '雙五識'},
                            {id: 2, title: '耳識與捨俱行', Item1: '無因', Item2: '捨受', Item3: '善果報心', Item4: '雙五識'},
                            {id: 2, title: '鼻識與捨俱行', Item1: '無因', Item2: '捨受', Item3: '善果報心', Item4: '雙五識'},
                            {id: 2, title: '舌識與捨俱行', Item1: '無因', Item2: '捨受', Item3: '善果報心', Item4: '雙五識'},
                            {id: 2, title: '身識與樂俱行', Item1: '無因', Item2: '樂受', Item3: '善果報心', Item4: '雙五識'},
                            {id: 2, title: '領受與捨俱行', Item1: '無因', Item2: '捨受', Item3: '善果報心', Item4: '領受心'},
                            {id: 2, title: '推度與悅俱行', Item1: '無因', Item2: '悅受', Item3: '善果報心', Item4: '推度心'},
                            {id: 2, title: '推度與捨俱行', Item1: '無因', Item2: '捨受', Item3: '善果報心', Item4: '推度心'},
                            {id: 2, title: '捨俱五門轉向心', Item1: '無因', Item2: '捨受', Item3: '唯作心', Item4: '五門轉向'},
                            {id: 2, title: '捨俱意門轉向心', Item1: '無因', Item2: '捨受', Item3: '唯作心', Item4: '意門轉向'},
                            {id: 2, title: '悅俱阿羅漢生笑心', Item1: '無因', Item2: '悅受', Item3: '唯作心', Item4: '生笑心'},
                            {id: 3, title: '悅俱智相應無行一心（善心）', Item1: '無貪、無瞋、無痴', Item2: '悅受', Item3: '善心', Item4: '無行'},
                            {id: 3, title: '悅俱智相應有行一心（善心）', Item1: '無貪、無瞋、無痴', Item2: '悅受', Item3: '善心', Item4: '有行'},
                            {id: 3, title: '悅俱智不相應無行一心（善心）', Item1: '無貪、無瞋', Item2: '悅受', Item3: '善心', Item4: '無行'},
                            {id: 3, title: '悅俱智不相應有行一心（善心）', Item1: '無貪、無瞋', Item2: '悅受', Item3: '善心', Item4: '有行'},
                            {id: 3, title: '捨俱智相應無行一心（善心）', Item1: '無貪、無瞋、無痴', Item2: '捨受', Item3: '善心', Item4: '無行'},
                            {id: 3, title: '捨俱智相應有行一心（善心）', Item1: '無貪、無瞋、無痴', Item2: '捨受', Item3: '善心', Item4: '有行'},
                            {id: 3, title: '捨俱智不相應無行一心（善心）', Item1: '無貪、無瞋', Item2: '捨受', Item3: '善心', Item4: '無行'},
                            {id: 3, title: '捨俱智不相應有行一心（善心）', Item1: '無貪、無瞋', Item2: '捨受', Item3: '善心', Item4: '有行'},
                            {id: 3, title: '悅俱智相應無行一心（果報心）', Item1: '無貪、無瞋、無痴', Item2: '悅受', Item3: '果報心', Item4: '無行'},
                            {id: 3, title: '悅俱智相應有行一心（果報心）', Item1: '無貪、無瞋、無痴', Item2: '悅受', Item3: '果報心', Item4: '有行'},
                            {id: 3, title: '悅俱智不相應無行一心（果報心）', Item1: '無貪、無瞋', Item2: '悅受', Item3: '果報心', Item4: '無行'},
                            {id: 3, title: '悅俱智不相應有行一心（果報心）', Item1: '無貪、無瞋', Item2: '悅受', Item3: '果報心', Item4: '有行'},
                            {id: 3, title: '捨俱智相應無行一心（果報心）', Item1: '無貪、無瞋、無痴', Item2: '捨受', Item3: '果報心', Item4: '無行'},
                            {id: 3, title: '捨俱智相應有行一心（果報心）', Item1: '無貪、無瞋、無痴', Item2: '捨受', Item3: '果報心', Item4: '有行'},
                            {id: 3, title: '捨俱智不相應無行一心（果報心）', Item1: '無貪、無瞋', Item2: '捨受', Item3: '果報心', Item4: '無行'},
                            {id: 3, title: '捨俱智不相應有行一心（果報心）', Item1: '無貪、無瞋', Item2: '捨受', Item3: '果報心', Item4: '有行'},
                            {id: 3, title: '悅俱智相應無行一心（唯作心）', Item1: '無貪、無瞋、無痴', Item2: '悅受', Item3: '唯作心', Item4: '無行'},
                            {id: 3, title: '悅俱智相應有行一心（唯作心）', Item1: '無貪、無瞋、無痴', Item2: '悅受', Item3: '唯作心', Item4: '有行'},
                            {id: 3, title: '悅俱智不相應無行一心（唯作心）', Item1: '無貪、無瞋', Item2: '悅受', Item3: '唯作心', Item4: '無行'},
                            {id: 3, title: '悅俱智不相應有行一心（唯作心）', Item1: '無貪、無瞋', Item2: '悅受', Item3: '唯作心', Item4: '有行'},
                            {id: 3, title: '捨俱智相應無行一心（唯作心）', Item1: '無貪、無瞋、無痴', Item2: '捨受', Item3: '唯作心', Item4: '無行'},
                            {id: 3, title: '捨俱智相應有行一心（唯作心）', Item1: '無貪、無瞋、無痴', Item2: '捨受', Item3: '唯作心', Item4: '有行'},
                            {id: 3, title: '捨俱智不相應無行一心（唯作心）', Item1: '無貪、無瞋', Item2: '捨受', Item3: '唯作心', Item4: '無行'},
                            {id: 3, title: '捨俱智不相應有行一心（唯作心）', Item1: '無貪、無瞋', Item2: '捨受', Item3: '唯作心', Item4: '有行'},
                            {id: 4, title: '尋、伺、喜、樂、一境性俱初禪善心', Item1: '無貪、無瞋、無痴', Item2: '悅受', Item3: '善心', Item4: '禪支：尋、伺、喜、樂、一境性'},
                            {id: 4, title: '伺、喜、樂、一境性俱第二禪善心', Item1: '無貪、無瞋、無痴', Item2: '悅受', Item3: '善心', Item4: '禪支：伺、喜、樂、一境性'},
                            {id: 4, title: '喜、樂、一境性俱第三禪善心', Item1: '無貪、無瞋、無痴', Item2: '悅受', Item3: '善心', Item4: '禪支：喜、樂、一境性'},
                            {id: 4, title: '樂、一境性俱第四禪善心', Item1: '無貪、無瞋、無痴', Item2: '悅受', Item3: '善心', Item4: '禪支：樂、一境性'},
                            {id: 4, title: '捨、一境性俱第五禪善心', Item1: '無貪、無瞋、無痴', Item2: '捨受', Item3: '善心', Item4: '禪支：捨、一境性'},
                            {id: 5, title: '尋、伺、喜、樂、一境性俱初禪果報心', Item1: '無貪、無瞋、無痴', Item2: '悅受', Item3: '果報心', Item4: '禪支：尋、伺、喜、樂、一境性'},
                            {id: 5, title: '伺、喜、樂、一境性俱第二禪果報心', Item1: '無貪、無瞋、無痴', Item2: '悅受', Item3: '果報心', Item4: '禪支：伺、喜、樂、一境性'},
                            {id: 5, title: '喜、樂、一境性俱第三禪果報心', Item1: '無貪、無瞋、無痴', Item2: '悅受', Item3: '果報心', Item4: '禪支：喜、樂、一境性'},
                            {id: 5, title: '樂、一境性俱第四禪果報心', Item1: '無貪、無瞋、無痴', Item2: '悅受', Item3: '果報心', Item4: '禪支：樂、一境性'},
                            {id: 5, title: '捨、一境性俱第五禪果報心', Item1: '無貪、無瞋、無痴', Item2: '捨受', Item3: '果報心', Item4: '禪支：捨、一境性'},
                            {id: 6, title: '尋、伺、喜、樂、一境性俱初禪唯作心', Item1: '無貪、無瞋、無痴', Item2: '悅受', Item3: '唯作心', Item4: '禪支：尋、伺、喜、樂、一境性'},
                            {id: 6, title: '伺、喜、樂、一境性俱第二禪唯作心', Item1: '無貪、無瞋、無痴', Item2: '悅受', Item3: '唯作心', Item4: '禪支：伺、喜、樂、一境性'},
                            {id: 6, title: '喜、樂、一境性俱第三禪唯作心', Item1: '無貪、無瞋、無痴', Item2: '悅受', Item3: '唯作心', Item4: '禪支：喜、樂、一境性'},
                            {id: 6, title: '樂、一境性俱第四禪唯作心', Item1: '無貪、無瞋、無痴', Item2: '悅受', Item3: '唯作心', Item4: '禪支：樂、一境性'},
                            {id: 6, title: '捨、一境性俱第五禪唯作心', Item1: '無貪、無瞋、無痴', Item2: '捨受', Item3: '唯作心', Item4: '禪支：捨、一境性'},
                            {id: 7, title: '空無邊處善心', Item1: '無貪、無瞋、無痴', Item2: '捨受', Item3: '善心', Item4: '禪支：捨、一境性'},
                            {id: 7, title: '識無邊處善心', Item1: '無貪、無瞋、無痴', Item2: '捨受', Item3: '善心', Item4: '禪支：捨、一境性'},
                            {id: 7, title: '無所有處善心', Item1: '無貪、無瞋、無痴', Item2: '捨受', Item3: '善心', Item4: '禪支：捨、一境性'},
                            {id: 7, title: '非想非非想處善心', Item1: '無貪、無瞋、無痴', Item2: '捨受', Item3: '善心', Item4: '禪支：捨、一境性'},
                            {id: 8, title: '空無邊處果報心', Item1: '無貪、無瞋、無痴', Item2: '捨受', Item3: '果報心', Item4: '禪支：捨、一境性'},
                            {id: 8, title: '識無邊處果報心', Item1: '無貪、無瞋、無痴', Item2: '捨受', Item3: '果報心', Item4: '禪支：捨、一境性'},
                            {id: 8, title: '無所有處果報心', Item1: '無貪、無瞋、無痴', Item2: '捨受', Item3: '果報心', Item4: '禪支：捨、一境性'},
                            {id: 8, title: '非想非非想處果報心', Item1: '無貪、無瞋、無痴', Item2: '捨受', Item3: '果報心', Item4: '禪支：捨、一境性'},
                            {id: 9, title: '空無邊處唯作心', Item1: '無貪、無瞋、無痴', Item2: '捨受', Item3: '唯作心', Item4: '禪支：捨、一境性'},
                            {id: 9, title: '識無邊處唯作心', Item1: '無貪、無瞋、無痴', Item2: '捨受', Item3: '唯作心', Item4: '禪支：捨、一境性'},
                            {id: 9, title: '無所有處唯作心', Item1: '無貪、無瞋、無痴', Item2: '捨受', Item3: '唯作心', Item4: '禪支：捨、一境性'},
                            {id: 9, title: '非想非非想處唯作心', Item1: '無貪、無瞋、無痴', Item2: '捨受', Item3: '唯作心', Item4: '禪支：捨、一境性'},
                            {id: 10, title: '須陀洹道心', Item1: '無貪、無瞋、無痴', Item2: '一至三禪悅受，四五禪捨受', Item3: '善心', Item4: '禪支：依所證禪那'},
                            {id: 10, title: '斯陀含道心', Item1: '無貪、無瞋、無痴', Item2: '一至三禪悅受，四五禪捨受', Item3: '善心', Item4: '禪支：依所證禪那'},
                            {id: 10, title: '阿那含道心', Item1: '無貪、無瞋、無痴', Item2: '一至三禪悅受，四五禪捨受', Item3: '善心', Item4: '禪支：依所證禪那'},
                            {id: 10, title: '阿羅漢道心', Item1: '無貪、無瞋、無痴', Item2: '一至三禪悅受，四五禪捨受', Item3: '善心', Item4: '禪支：依所證禪那'},
                            {id: 11, title: '須陀洹果心', Item1: '無貪、無瞋、無痴', Item2: '一至三禪悅受，四五禪捨受', Item3: '果報心', Item4: '禪支：依所證禪那'},
                            {id: 11, title: '斯陀含果心', Item1: '無貪、無瞋、無痴', Item2: '一至三禪悅受，四五禪捨受', Item3: '果報心', Item4: '禪支：依所證禪那'},
                            {id: 11, title: '阿那含果心', Item1: '無貪、無瞋、無痴', Item2: '一至三禪悅受，四五禪捨受', Item3: '果報心', Item4: '禪支：依所證禪那'},
                            {id: 11, title: '阿羅漢果心', Item1: '無貪、無瞋、無痴', Item2: '一至三禪悅受，四五禪捨受', Item3: '果報心', Item4: '禪支：依所證禪那'},
                            {id: 12, title: '觸（phassa）', 
                                Item1: '特相是「接觸」', 
                                Item2: '作用是撞擊，即導致目標與識撞擊', 
                                Item3: '現起是識、依處與目標集合生起', 
                                Item4: '近因是出現於諸門之境', 
                                Item5: '觸（phassa）：巴利文phassa（觸）源自動詞phussati，意為「去碰」，但不應把觸理解為只是色法在撞擊身根。事實上它是一個心所，通過它心得以「接觸」目標，而啟動了整個心路過程。對於諸巴利註疏所採用的四種鑑別法，觸的特相是「接觸」；作用是撞擊，即導致目標與識撞擊；現起是識、依處與目標集合生起；近因是出現於諸門之境。'},
                            {id: 12, title: '受（vedana）', 
                                Item1: '特相是「被感受」', 
                                Item2: '作用是「體驗」或享用可喜所緣的可喜之處', 
                                Item3: '現起是令相應名法愉悅', 
                                Item4: '近因是輕安', 
                                Item5: '受（vedana）：受是感受及體驗目標的心所。巴利文vedana並不是指感情（感情是涉及許多不同心所的複雜現象），而是純粹對某種體驗的感受；此感受可以是樂、苦、或捨。受的特相是「被感受」；作用是「體驗」或享用可喜所緣的可喜之處；現起是令相應名法愉悅；近因是輕安。其他心所只是間接地體驗目標（所緣），但受則直接與完全地體驗它。'},
                            {id: 12, title: '想（sabba）', 
                                Item1: '特相是體會目標的品質', 
                                Item2: '作用是對它作個印記，以便再次體會相同的目標時能夠知道「這是一樣的」，或者其作用是認出以前已體會過的目標', 
                                Item3: '現起是通過以前已領會過的表徵分析目標（abhi-nivesa）', 
                                Item4: '近因是所出現的目標', 
                                Item5: '想（sabba）：想的特相是體會目標的品質；作用是對它作個印記，以便再次體會相同的目標時能夠知道「這是一樣的」，或者其作用是認出以前已體會過的目標；現起是通過以前已領會過的表徵分析目標（abhi-nivesa）；近因是所出現的目標。它的程序可比喻為木匠通過自己在各種木材上所作的記號，而認出它們的種類。'},
                            {id: 12, title: '思（cetana）', 
                                Item1: '特相是意願的狀況', 
                                Item2: '作用是累積（業）', 
                                Item3: '現起是指導互相配合', 
                                Item4: '近因是相應法', 
                                Item5: '思（cetana）：巴利文cetana與citta（心）是源自同一詞根；它是實現識知過程的目的之心所，由此它稱為「思」。諸註疏對思的解釋是：它組織各相應法以對目標採取行動。其特相是意願的狀況；作用是累積（業）；現起是指導互相配合；近因是相應法。它就有如一位大弟子，不單只自己背誦功課，也確保其他弟子都有背誦功課；所以當思開始對目標作業時，它也指揮其他相應法執行各自的任務。思是造業的最主要因素，因為所採取的行動之善惡即決定於思。'},
                            {id: 12, title: '一境性（ekaggata）', 
                                Item1: '特相是不散亂', 
                                Item2: '作用是統一相應法', 
                                Item3: '現起是平靜', 
                                Item4: '近因是樂', 
                                Item5: '一境性（ekaggata）：這是心與目標結合為一境。雖然它在禪那裡作為禪支時才變得顯著，諸阿毗達摩論師認為在一切心裡，即使是最基本的心，它也有令心專一的能力，執行把心專注於目標的作用。其相是不散亂；作用是統一相應法；現起是平靜；近因是樂。'},
                            {id: 12, title: '名法命根（jivita）', 
                                Item1: '特相是維持相應名法', 
                                Item2: '作用是令它們發生（於生、住、滅）', 
                                Item3: '現起是維持它們存在', 
                                Item4: '近因是應受維持的名法', 
                                Item5: '名法命根（jivita）：命根有兩種，其一是維持相應名法之命的名命根，另一者是維持色法之命的命根色。只有名命根才是心所。其特相是維持相應名法；作用是令它們發生（於生、住、滅）；現起是維持它們存在；近因是應受維持的名法。'},
                            {id: 12, title: '作意（manasikara）', 
                                Item1: '特相是「指引」（sarana）相應法朝向目標', 
                                Item2: '作用是把相應法與目標連接起來', 
                                Item3: '現起是面對目標', 
                                Item4: '近因是目標', 
                                Item5: '作意（manasikara）：此巴利文的直譯意義是「心的造作」。作意是令心轉向目標的心所；通過它目標得以呈現於心。其特相是「指引」（sarana）相應法朝向目標；作用是把相應法與目標連接起來；現起是面對目標；近因是目標。作意有如船的舵，控制船的方向以朝向目的地；或有如馬車夫，指揮已馴服的馬（相應法）朝向它們的目的地（目標）。應分別作意與尋兩者：前者把相應法轉向目標，後者則把它們投入目標。作意是一切心不可或缺的識知因素；尋則是並非不可缺少的特有心所。'},
                            {id: 13, title: '尋（vitakka）', 
                                Item1: '特相是把心投向或導向目標', 
                                Item2: '作用是全面地撞擊目標', 
                                Item3: '現起是把心導向目標', 
                                Item4: '目標即是它的近因', 
                                Item5: '尋（vitakka）：在討論禪那時已介紹過尋，即五禪支的第一個。尋把心投向目標。其特相是把心投向或導向目標；作用是全面地撞擊目標；現起是把心導向目標。雖然註釋裡沒有提及它的近因，但可知目標即是它的近因。一般的尋只是把心投向目標。然而，通過培育定，尋則能變成禪支。其時它名為「安止」（appana），即把心安止於目標。尋亦稱為「思惟」（sankappa），且分為「邪思惟」（micchasankappa）與「正思惟」（sammasankappa）兩種。後者是八聖道的第二道分。'},
                            {id: 13, title: '伺（vicara）', 
                                Item1: '特相是重複地省察目標', 
                                Item2: '作用是重複地把相應名法置於目標', 
                                Item3: '現起是把它們鉤住目標', 
                                Item4: '近因是目標', 
                                Item5: '伺（vicara）：伺也是禪支之一，其特相是重複地省察目標；作用是重複地把相應名法置於目標；現起是把它們鉤住目標；近因是目標。'},
                            {id: 13, title: '勝解（adhimokkha）', 
                                Item1: '特相是確定（目標）', 
                                Item2: '作用是不猶豫', 
                                Item3: '現起是確定或決定', 
                                Item4: '近因是須要抉擇之事', 
                                Item5: '勝解（adhimokkha）：直譯巴利文adhimokkha則是「把心放開，讓它進入目標」；由此譯為勝解或決意。其特相是確定（目標）；作用是不猶豫；現起是確定或決定；近因是須要抉擇之事。基於它對目標不可動搖的決心，它被形容為石柱。'},
                            {id: 13, title: '精進（viriya）', 
                                Item1: '特相是支持、奮鬥、或激起力量', 
                                Item2: '作用是支持或穩固相應名法', 
                                Item3: '現起是不放棄', 
                                Item4: '近因是悚懼或逼迫感（samvega）或精進事，即任何能夠激起精進之事', 
                                Item5: '精進（viriya）：其特相是支持、奮鬥、或激起力量；作用是支持或穩固相應名法；現起是不放棄；近因是悚懼或逼迫感（samvega）或精進事，即任何能夠激起精進之事。有如在一間老舊的屋子加上幾支新柱子，以防止它倒塌，或有如作為後援的生力軍令國王的軍隊擊敗敵方，精進亦能支持所有的相應法，不令它們退減。'},
                            {id: 13, title: '喜（piti）', 
                                Item1: '特相是「令歡喜」', 
                                Item2: '作用是令身與心清新，或遍佈（勝心生色至）全身', 
                                Item3: '現起是（身心）喜悅', 
                                Item4: '近因是名色（譯按：或目標；或目標 + 依處 + 觸）', 
                                Item5: '喜（piti）：在解釋禪那時已有提過，其特相是「令歡喜」（sampiyayana）；作用是令身與心清新，或遍佈（勝心生色至）全身；現起是（身心）喜悅；近因是名色（譯按：或目標；或目標 + 依處 + 觸）。'},
                            {id: 13, title: '欲（chanda）', 
                                Item1: '特相是欲行動', 
                                Item2: '作用是尋找目標', 
                                Item3: '現起是需要目標', 
                                Item4: '近因是所希求的目標', 
                                Item5: '欲（chanda）：在此欲是指欲行動（kattu-kamata），即要實行某件事或要獲取某些成就。應分別此「欲」（chanda）與屬於不善的貪（lobha）或貪欲（raga）。後兩者肯定是不善；但前者則不定，當它與善心所配合時，即能作為追求良善目的的善欲。其特相是欲行動；作用是尋找目標；現起是需要目標；近因是所希求的目標。它可比喻為把心之手伸向目標。'},
                            {id: 14, title: '痴（moha）', 
                                Item1: '特相是心盲目或無智（abbana，不能透徹地知見究竟法的真實性', 
                                Item2: '作用是覆蔽或不能徹知目標的真實性', 
                                Item3: '現起是沒有正見或心昏暗', 
                                Item4: '近因是不如理作意（ayoniso manasikara，即作意目標為常、樂、我、淨等）', 
                                Item5: '痴（moha）：痴是無明（avijja）的同義詞。其特相是心盲目或無智（abbana，不能透徹地知見究竟法的真實性）；作用是覆蔽或不能徹知目標的真實性；現起是沒有正見或心昏暗；近因是不如理作意（ayoniso manasikara，即作意目標為常、樂、我、淨等）。應知這是一切不善法的根源。'},
                            {id: 14, title: '無慚（ahirika）', 
                                Item1: '特相是不厭惡身語惡行（或無恥於惡行）', 
                                Item2: '作用是無恥地為惡', 
                                Item3: '現起是不退避於造惡', 
                                Item4: '近因是不尊重自己', 
                                Item5: '無慚（ahirika）與無愧（anottappa）：無慚的特相是不厭惡身語惡行（或無恥於惡行）；無愧的特相是不害怕惡行。它們各自的作用是無恥地為惡和無懼地為惡；現起是不退避於造惡；各自的近因是不尊重自己和不尊重他人。'},
                            {id: 14, title: '無愧（anottappa）', 
                                Item1: '特相是不害怕惡行', 
                                Item2: '作用是無懼地為惡', 
                                Item3: '現起是不退避於造惡', 
                                Item4: '近因是不尊重他人', 
                                Item5: '無慚（ahirika）與無愧（anottappa）：無慚的特相是不厭惡身語惡行（或無恥於惡行）；無愧的特相是不害怕惡行。它們各自的作用是無恥地為惡和無懼地為惡；現起是不退避於造惡；各自的近因是不尊重自己和不尊重他人。'},
                            {id: 14, title: '掉舉（uddhacca）', 
                                Item1: '特相是不平靜，如被風吹起漣漪的水', 
                                Item2: '作用是令心不穩定，如風吹動旗幡', 
                                Item3: '現起是混亂', 
                                Item4: '近因是對散亂之心起不如理作意', 
                                Item5: '掉舉（uddhacca）：掉舉（散亂）的特相是不平靜，如被風吹起漣漪的水；作用是令心不穩定，如風吹動旗幡；現起是混亂；近因是對散亂之心起不如理作意。'},
                            {id: 15, title: '貪（lobha）', 
                                Item1: '特相是執著目標', 
                                Item2: '作用是黏著目標，如肉黏著熱鍋', 
                                Item3: '現起是不能捨棄', 
                                Item4: '近因是認為導致束縛之法有樂味', 
                                Item5: '貪（lobha）：貪是第一個不善因，包括一切自私的欲念、渴求、執著與執取。其特相是執著目標；作用是黏著目標，如肉黏著熱鍋；現起是不能捨棄；近因是認為導致束縛之法有樂味。'},
                            {id: 15, title: '邪見（ditthi）', 
                                Item1: '特相是不明智（錯誤）地分析事物', 
                                Item2: '作用是錯誤地認為（行法是常、樂、我、淨）', 
                                Item3: '現起是錯誤的理解或相信', 
                                Item4: '近因是不願見聖者（ariya）等等', 
                                Item5: '邪見（ditthi）：此見是指錯見。其特相是不明智（錯誤）地分析事物；作用是錯誤地認為（行法是常、樂、我、淨）；現起是錯誤的理解或相信；近因是不願見聖者（ariya），等等。'},
                            {id: 15, title: '慢（mana）', 
                                Item1: '特相是驕傲', 
                                Item2: '作用是自稱自讚', 
                                Item3: '現起是虛榮', 
                                Item4: '近因是與見不相應的貪', 
                                Item5: '慢（mana）：慢的特相是驕傲；作用是自稱自讚；現起是虛榮；近因是與見不相應的貪。它好比發了瘋。'},
                            {id: 16, title: '瞋（dosa）', 
                                Item1: '特相是兇惡殘暴', 
                                Item2: '作用是怒燒自己的依處，即它所依靠而生起的名色法', 
                                Item3: '現起是毀壞（身心或自己與他人的福祉）', 
                                Item4: '近因是（九或十種）瞋怒事（aghatavatthu）', 
                                Item5: '瞋（dosa）：瞋是第二個不善因，包括了一切及各程度的反感、惡念、生氣、煩躁、惱怒、怨恨。其特相是兇惡殘暴；作用是怒燒自己的依處，即它所依靠而生起的名色法；現起是毀壞（身心或自己與他人的福祉）；近因是（九或十種）瞋怒事（aghatavatthu）。'},
                            {id: 16, title: '嫉妒（issa）', 
                                Item1: '特相是嫉羡他人的成就', 
                                Item2: '作用是不喜他人的成就', 
                                Item3: '現起是厭惡（不能忍受看到）他人的成就', 
                                Item4: '近因是他人的成就', 
                                Item5: '嫉妒（issa）：其特相是嫉羡他人的成就；作用是不喜他人的成就；現起是厭惡（不能忍受看到）他人的成就；近因是他人的成就。'},
                            {id: 16, title: '慳（macchariya）', 
                                Item1: '特相是隱秘自己已得或當得的利益', 
                                Item2: '作用是不能忍受與他人分享自己的利益', 
                                Item3: '現起是躲避（與他人分享自己所得）和吝嗇', 
                                Item4: '近因是自己的成就', 
                                Item5: '慳（macchariya）：其特相是隱秘自己已得或當得的利益；作用是不能忍受與他人分享自己的利益；現起是躲避（與他人分享自己所得）和吝嗇；近因是自己的成就。'},
                            {id: 16, title: '惡作（追悔，kukkucca）', 
                                Item1: '特相是事後追悔', 
                                Item2: '作用是追悔已造（的惡），以及沒有實行（的善）', 
                                Item3: '現起是憶起時感到後悔', 
                                Item4: '近因是已造的惡及未行的善', 
                                Item5: '惡作（追悔，kukkucca）：惡作是追悔已造之惡（或當行而未行之善）。其特相是事後追悔；作用是追悔已造（的惡），以及沒有實行（的善）；現起是憶起時感到後悔；近因是已造的惡及未行的善。'},
                            {id: 17, title: '昏沉（thina）', 
                                Item1: '特相是缺乏精進', 
                                Item2: '作用是去除精進', 
                                Item3: '現起是心的消沉', 
                                Item4: '近因是不如理地作意無聊或怠惰', 
                                Item5: '昏沉（thina）：昏沉是心的軟弱或沉重。其特相是缺乏精進；作用是去除精進；現起是心的消沉；近因是不如理地作意無聊或怠惰。昏沉與睡眠必定同時發生，且與精進對立。昏沉有如心的病；睡眠則有如心所的病。這一對是五蓋之一，由尋心所對治。'},
                            {id: 17, title: '睡眠（middha）', 
                                Item1: '特相是不適業', 
                                Item2: '作用是閉塞（識門）', 
                                Item3: '現起是昏昏欲睡', 
                                Item4: '近因是不如理地作意無聊或怠惰', 
                                Item5: '睡眠（middha）：睡眠是心所沉滯的狀態。其特相是不適業；作用是閉塞（識門）；現起是昏昏欲睡；近因與昏沉的一樣。昏沉與睡眠必定同時發生，且與精進對立。昏沉有如心的病；睡眠則有如心所的病。這一對是五蓋之一，由尋心所對治。'},
                            {id: 18, title: '疑（vicikiccha）', 
                                Item1: '特相是懷疑', 
                                Item2: '作用是起動搖', 
                                Item3: '現起是猶豫不決及有多種立場', 
                                Item4: '近因是不如理作意', 
                                Item5: '疑（vicikiccha）：在此疑是指宗教上的疑；在佛教的角度來看即是不能相信佛、法、僧三學（以及對過去世、對未來世、對過去世與未來世、對緣起有疑心）。其特相是懷疑；作用是起動搖；現起是猶豫不決及有多種立場；近因是不如理作意。'},
                            {id: 19, title: '信（saddha）', 
                                Item1: '特相是（對當信之事saddheyya vatthu）有信心', 
                                Item2: '作用是澄清，有如清水寶石能夠使到混濁的水變得清澈；或啟發，如出發越渡洪流', 
                                Item3: '現起是不迷濛，即去除心之不淨，或決意而不猶豫', 
                                Item4: '近因是當信之事，或聽聞正法等等（須陀洹的素質）', 
                                Item5: '信（saddha）：第一個美心所是信，其特相是（對當信之事saddheyya vatthu）有信心。作用是澄清，有如清水寶石能夠使到混濁的水變得清澈；或啟發，如出發越渡洪流。現起是不迷濛，即去除心之不淨，或決意而不猶豫。近因是當信之事，或聽聞正法等等（須陀洹的素質）。'},
                            {id: 19, title: '念（sati）', 
                                Item1: '特相是對目標念念分明而不流失', 
                                Item2: '作用是不迷惑或不忘失', 
                                Item3: '現起是守護或心面對目標的狀態', 
                                Item4: '近因是強而有力的想（thirasabba）或四念處', 
                                Item5: '念（sati）：巴利文sati的詞根意為「憶念」，然而作為心所，它是心於當下能夠清楚覺知（其目標），而不是純粹只是回憶過去。其特相是對目標念念分明而不流失；作用是不迷惑或不忘失；現起是守護或心面對目標的狀態；近因是強而有力的想（thirasabba）或四念處。'},
                            {id: 19, title: '慚（hiri）', 
                                Item1: '慚的特相是對惡行感到厭惡', 
                                Item2: '作用是不造惡', 
                                Item3: '現起是退避諸惡', 
                                Item4: '近因是尊重自己', 
                                Item5: '慚（hiri）與愧（ottappa）：慚的特相是對惡行感到厭惡，愧的特相是對惡行感到害怕；兩者的作用都是不造惡；現起是退避諸惡；各自的近因是尊重自己與尊重他人。佛陀稱此二法為世間的守護者，因為它們制止世間陷入廣泛的不道德。'},
                            {id: 19, title: '愧（ottappa）', 
                                Item1: '愧的特相是對惡行感到害怕', 
                                Item2: '作用是不造惡', 
                                Item3: '現起是退避諸惡', 
                                Item4: '近因是尊重他人', 
                                Item5: '慚（hiri）與愧（ottappa）：慚的特相是對惡行感到厭惡，愧的特相是對惡行感到害怕；兩者的作用都是不造惡；現起是退避諸惡；各自的近因是尊重自己與尊重他人。佛陀稱此二法為世間的守護者，因為它們制止世間陷入廣泛的不道德。'},
                            {id: 19, title: '無貪（alobha）', 
                                Item1: '特相是心不貪求目標（所緣）或心不執著目標', 
                                Item2: '作用是不執著', 
                                Item3: '現起是無著', 
                                Item4: '近因是目標，或依處 + 目標 + 觸，或如理作意', 
                                Item5: '無貪（alobha）：其特相是心不貪求目標（所緣）或心不執著目標，如水珠不黏住荷葉；作用是不執著；現起是無著；（近因是目標，或依處 + 目標 + 觸，或如理作意。）應明白無貪並不只是指沒有貪念，而是也包括正面的品德，如：佈拖與捨離。'},
                            {id: 19, title: '無瞋（adosa）', 
                                Item1: '特相是不粗野或不對抗', 
                                Item2: '作用是去除怨恨或去除怒火', 
                                Item3: '現起是可喜可愛', 
                                Item4: '近因是目標，或依處 + 目標 + 觸，或如理作意', 
                                Item5: '無瞋（adosa）：其特相是不粗野或不對抗；作用是去除怨恨或去除怒火；現起是可喜可愛；（近因是目標，或依處 + 目標 + 觸，或如理作意。）無瞋也包括慈愛、溫和、和藹、友善等良好品德。當無瞋顯現為慈愛或慈梵住（metta）時，其特相是促進有情的幸福；作用是願他們幸福；現起是去除瞋恨；近因是視有情為可喜可取。應分辨此慈愛和它的近敵，即：自私的愛。'},
                            {id: 19, title: '中捨性（tatramajjhattata）', 
                                Item1: '特相是平衡心與心所', 
                                Item2: '作用是防止過多或不足或去除偏袒', 
                                Item3: '現起是中捨地旁觀心與心所', 
                                Item4: '近因是相應名法，或依處 + 目標 + 觸，或如理作意。', 
                                Item5: '中捨性（tatramajjhattata）：直譯此心所的巴利文即是「位於中間」。這是捨心的同義詞，不是捨受，而是心平衡、無著與平等的態度。其特相是平衡心與心所；作用是防止過多或不足或去除偏袒；現起是中捨地旁觀心與心所，如馬車夫中捨地旁視平穩前進之馬；（近因是相應名法，或依處 + 目標 + 觸，或如理作意。）對有情保持中捨的捨無量心是中捨性心所。它不分別偏袒地對待一切有情，平等地看待他們。不應混淆此捨與其近敵：「由於無明而生起的世俗捨（不懂得分別）」。'},
                            {id: 19, title: '身輕安（kayapassaddhi）與心輕安（citta-passaddhi）', 
                                Item1: '特相是平靜心所與心的不安（daratha）', 
                                Item2: '作用是破除心所與心的不安', 
                                Item3: '現起是心所與心的安寧冷靜', 
                                Item4: '近因是心所與心', 
                                Item5: '身輕安（kayapassaddhi）與心輕安（citta-passaddhi）：這兩種輕安各自的特相是平靜心所與心的不安（daratha）；作用是破除心所與心的不安；現起是心所與心的安寧冷靜；近因是心所與心。它們對治導致煩躁的掉舉與惡作。'},
                            {id: 19, title: '身輕快性（kaya-lahuta）與心輕快性（citta-lahuta）', 
                                Item1: '特相是去除心所與心的沉重（garubhava）', 
                                Item2: '作用是破除心所與心的沉重', 
                                Item3: '現起是心所與心不沉重', 
                                Item4: '近因是心所與心', 
                                Item5: '身輕快性（kaya-lahuta）與心輕快性（citta-lahuta）：這兩種輕快性各自的特相是去除心所與心的沉重（garubhava）；作用是破除心所與心的沉重；現起是心所與心不沉重；近因是心所與心。它們對治導致沉重的昏沉與睡眠。'},
                            {id: 19, title: '身柔軟性（kaya-muduta）心柔軟性（citta-muduta）', 
                                Item1: '特相是去除心所與心的僵硬性（thambha）', 
                                Item2: '作用是破除心所與心的僵硬性', 
                                Item3: '現起是（心所與心對目標）無對抗', 
                                Item4: '近因是心所與心', 
                                Item5: '身柔軟性（kaya-muduta）心柔軟性（citta-muduta）：這兩種柔軟各自的特相是去除心所與心的僵硬性（thambha）；作用是破除心所與心的僵硬性；現起是（心所與心對目標）無對抗；近因是心所與心。它們對治導致僵硬的邪見或我慢。'},
                            {id: 19, title: '身適業性（kaya-kammabbata）與心適業性（citta-kammabbata）', 
                                Item1: '特相是去除心所與心的不適業性（akammabbabhava）', 
                                Item2: '作用是破除心所與心的不適業性', 
                                Item3: '現起是心所與心成功取某所緣為目標', 
                                Item4: '近因是心所與心', 
                                Item5: '身適業性（kaya-kammabbata）與心適業性（citta-kammabbata）：這兩種適業性各自的特相是去除心所與心的不適業性（akammabbabhava）；作用是破除心所與心的不適業性；現起是心所與心成功取某所緣為目標；近因是心所與心。它們對治導致心所與心不適於作業的其餘諸蓋。'},
                            {id: 19, title: '身練達性（kaya-pagubbata）與心練達性（citta-pagubbata）', 
                                Item1: '特相是心所與心健全', 
                                Item2: '作用是破除心所與心之疾病', 
                                Item3: '現起是心所與心無殘缺', 
                                Item4: '近因是心所與心', 
                                Item5: '身練達性（kaya-pagubbata）與心練達性（citta-pagubbata）：這兩種練達性各自的特相是心所與心健全；作用是破除心所與心之疾病；現起是心所與心無殘缺；近因是心所與心。它們對治導致心所與心不健全的無信等等。'},
                            {id: 19, title: '身正直性（kayujjukata）與心正直性（cittujjukata）', 
                                Item1: '特相是心所與心的正直性', 
                                Item2: '作用是破除心所與心的欺騙性', 
                                Item3: '現起是心所與心不狡詐', 
                                Item4: '近因是心所與心', 
                                Item5: '身正直性（kayujjukata）與心正直性（cittujjukata）：這兩種正直性各自的特相是心所與心的正直性；作用是破除心所與心的欺騙性；現起是心所與心不狡詐；近因是心所與心。它們對治導致心所與心不正直的虛偽、欺詐等等。'},
                            {id: 20, title: '正語（sammavaca）', 
                                Item1: '特相是不犯語惡行', 
                                Item2: '作用是遠離語惡行', 
                                Item3: '現起是不造語惡行', 
                                Item4: '近因是信、慚、愧、知足等等', 
                                Item5: '正語（sammavaca）：正語是刻意遠離惡語：妄語、惡口、兩舌、綺語（廢話）。此三離各自的特相是不犯語惡行、身惡行、邪命；作用是遠離語惡行、身惡行、邪命；現起是不造語惡行、身惡行、邪命；近因是信、慚、愧、知足等等。它們是心對惡行的厭惡。'},
                            {id: 20, title: '正業（sammakammanta）', 
                                Item1: '特相是不犯身惡行', 
                                Item2: '作用是遠離身惡行', 
                                Item3: '現起是不造身惡行', 
                                Item4: '近因是信、慚、愧、知足等等', 
                                Item5: '正業（sammakammanta）：正業是刻意遠離身惡行：殺生、偷盜、邪淫。此三離各自的特相是不犯語惡行、身惡行、邪命；作用是遠離語惡行、身惡行、邪命；現起是不造語惡行、身惡行、邪命；近因是信、慚、愧、知足等等。它們是心對惡行的厭惡。'},
                            {id: 20, title: '正命（samma-ajiva）', 
                                Item1: '特相是不犯邪命', 
                                Item2: '作用是遠離邪命', 
                                Item3: '現起是不造邪命', 
                                Item4: '近因是信、慚、愧、知足等等', 
                                Item5: '正命（samma-ajiva）：正命是刻意遠離邪命，如：買賣毒品、麻醉品、武器、奴隸、以及供屠宰的動物。此三離各自的特相是不犯語惡行、身惡行、邪命；作用是遠離語惡行、身惡行、邪命；現起是不造語惡行、身惡行、邪命；近因是信、慚、愧、知足等等。它們是心對惡行的厭惡。'},
                            {id: 21, title: '悲（karuna）', 
                                Item1: '特相是欲拔除他人的痛苦', 
                                Item2: '作用是不忍見他人之苦', 
                                Item3: '現起是不殘忍', 
                                Item4: '近因是（以如理作意）見受盡苦難的有情沒有依歸', 
                                Item5: '悲（karuna）：其特相是欲拔除他人的痛苦；作用是不忍見他人之苦；現起是不殘忍；近因是（以如理作意）見受盡苦難的有情沒有依歸。當能去除殘忍時此悲即已成功，若導致悲傷則已失敗。'},
                            {id: 21, title: '（隨）喜（mudita）', 
                                Item1: '特相是隨喜他人的成就', 
                                Item2: '作用是不妒嫉他人的成就', 
                                Item3: '現起是去除厭惡（他人的成就）', 
                                Item4: '近因是見到他人的成就', 
                                Item5: '（隨）喜（mudita）：其特相是隨喜他人的成就；作用是不妒嫉他人的成就；現起是去除厭惡（他人的成就）；近因是見到他人的成就。當能去除厭惡時此喜即已成功，若導致同歡同樂則已失敗。'},
                            {id: 22, title: '慧根（pabbindriya）', 
                                Item1: '特相是透徹地如實知見究竟法的自性相', 
                                Item2: '作用是如照亮目標的油燈一般', 
                                Item3: '現起是不迷惑', 
                                Item4: '近因是如理作意', 
                                Item5: '慧根（pabbindriya）：巴利文pabba是慧，或如實知見諸法。在此稱它為根是因為對於如實知見諸法它佔了主要的地位。在《阿毗達摩論》裡，慧（pabba）、智（bana）、無痴（amoha）三者是同義詞。慧的特相是透徹地如實知見究竟法的自性相；作用是如照亮目標的油燈一般；現起是不迷惑；近因是如理作意（譯按──《清淨道論》第十四章、段七：「由於佛陀說有定者能如實知見諸法，慧的近因是定」；《殊勝義註》英、頁一六二：「慧的近因是不迷惑，有如一位很好的森林嚮導。」）'},
                            {id: 23, title: '地界（pathavidhatu）', 
                                Item1: '特相是硬', 
                                Item2: '作用（亦作味）是作為（其他元素與所造色的）立足處', 
                                Item3: '現起是接受', 
                                Item4: '近因（亦作足處）是其他三大元素', 
                                Item5: '四大元素（四大種）稱為界（dhatu），因為它們「持有自性」（attano sabhavam dharenti）。稱為地界（pathavidhatu）是因為它有如地一般，作為俱生色法的支助或立足處。巴利文pathavi（地）是源自意為「擴展」的詞根，因此地界是擴展的元素。地界的特相是硬；作用（亦作味）是作為（其他元素與所造色的）立足處；現起是接受；近因（亦作足處）是其他三大元素。'},
                            {id: 23, title: '水界（apodhatu）', 
                                Item1: '特相是流動或溢出', 
                                Item2: '作用是增長其他俱生色法', 
                                Item3: '現起是把（同一粒色聚裡的）諸色握在一起或黏著', 
                                Item4: '近因是其他三大元素', 
                                Item5: '水界（apodhatu）令到其他色法黏在一起，因而避免它們被分散。其特相是流動或溢出；作用是增長其他俱生色法；現起是把（同一粒色聚裡的）諸色握在一起或黏著；近因是其他三大元素。根據《阿毗達摩論》的觀點，水界與其他三大元素不一樣，是不能夠直接通過觸覺覺知，而只能間接地從觀察其他色法黏在一起而得知。'},
                            {id: 23, title: '火界（tejodhatu）', 
                                Item1: '特相是熱（或冷）', 
                                Item2: '作用是使到（同一粒色聚裡的）其他色法成熟', 
                                Item3: '現起是不斷地提供柔軟', 
                                Item4: '近因是其他三界', 
                                Item5: '火界（tejodhatu）的特相是熱（或冷）；作用是使到（同一粒色聚裡的）其他色法成熟；現起是不斷地提供柔軟；（近因是其他三界）。火界被體驗為熱或冷。'},
                            {id: 23, title: '風界（vayodhatu）', 
                                Item1: '特相是支持（vitthambhana）', 
                                Item2: '作用是導致其他色法移動', 
                                Item3: '現起是帶動（俱生色法從一處）至另一處', 
                                Item4: '近因是其他三大元素', 
                                Item5: '風界（vayodhatu）是移動及壓力的元素。其特相是支持（vitthambhana）；作用是導致其他色法移動；現起是帶動（俱生色法從一處）至另一處；近因是其他三大元素。它被體驗為壓力。從整體來看，四大元素立足於地界；由水界黏在一起；由火界維持；由風界支持。'},
                            {id: 24, title: '眼淨色（cakkhu pasada）', 
                                Item1: '特相是準備讓色所緣撞擊的四大元素之淨（透明性），或緣生於色愛（rupatanha，欲見色所緣）的業生四大元素之淨', 
                                Item2: '作用是取色所緣為目標', 
                                Item3: '現起是作為眼識的依處', 
                                Item4: '近因是緣生於色愛的業生四大元素（即同一粒色聚裡的四大）', 
                                Item5: '淨色（pasadarupa）是五種個別存在於五根的色法。應分辨淨色與支持它們的五種器官。世俗所稱的眼在《阿毗達摩論》裡則稱為「混合眼」（sasambhara-cakkhu），是各種不同色法的組合。眼淨色（cakkhu pasada）是其中之一，它是位於視網膜裡的淨色，對光與顏色敏感，以及作為眼識的依處色與門。眼淨色的特相是準備讓色所緣撞擊的四大元素之淨（透明性），或緣生於色愛（rupatanha，欲見色所緣）的業生四大元素之淨；作用是取色所緣為目標；現起是作為眼識的依處；近因是緣生於色愛的業生四大元素（即同一粒色聚裡的四大）。對耳、鼻、舌、身淨色的特相等亦可以此類推。'},
                            {id: 24, title: '耳淨色（sotapasada）', 
                                Item1: '特相是準備讓聲所緣撞擊的四大元素之淨（透明性），或緣生於聲愛的業生四大元素之淨', 
                                Item2: '作用是取聲所緣為目標', 
                                Item3: '現起是作為耳識的依處', 
                                Item4: '近因是緣生於聲愛的業生四大元素（即同一粒色聚裡的四大）', 
                                Item5: '耳淨色（sotapasada）是在耳洞裡：「在一個狀如手指膠片，長著許多細小褐色毛之處」；它是對聲音敏感的淨色，以及作為耳識的依處色與門。。'},
                            {id: 24, title: '鼻淨色（ghanapasada）', 
                                Item1: '特相是準備讓香所緣撞擊的四大元素之淨（透明性），或緣生於香愛的業生四大元素之淨', 
                                Item2: '作用是取香所緣為目標', 
                                Item3: '現起是作為鼻識的依處', 
                                Item4: '近因是緣生於香愛的業生四大元素（即同一粒色聚裡的四大）', 
                                Item5: '鼻淨色（ghanapasada）位於鼻孔裡，對氣味敏感。'},
                            {id: 24, title: '舌淨色（jivhapasada）', 
                                Item1: '特相是準備讓味所緣撞擊的四大元素之淨（透明性），或緣生於味愛的業生四大元素之淨', 
                                Item2: '作用是取味所緣為目標', 
                                Item3: '現起是作為舌識的依處', 
                                Item4: '近因是緣生於味愛的業生四大元素（即同一粒色聚裡的四大）', 
                                Item5: '舌淨色（jivhapasada）散置於舌頭上，對味道敏感。'},
                            {id: 24, title: '身淨色（kayapasada）', 
                                Item1: '特相是準備讓觸所緣撞擊的四大元素之淨（透明性），或緣生於觸愛的業生四大元素之淨', 
                                Item2: '作用是取觸所緣為目標', 
                                Item3: '現起是作為身識的依處', 
                                Item4: '近因是緣生於觸愛的業生四大元素（即同一粒色聚裡的四大）', 
                                Item5: '身淨色（kayapasada）散置於全身，有如浸透棉花的液體一般；它對觸覺敏感'},
                            {id: 25, title: '色聲香味等境色（gocararupa）', 
                                Item1: '特相是撞擊淨色', 
                                Item2: '作用是作為根識的目標', 
                                Item3: '現起是作為根識之境', 
                                Item4: '近因是四大元素', 
                                Item5: '境色（gocararupa）是五根所緣之外境，它們作為與之相符的根識的所緣緣。當知觸所緣是由地界、火界與風界三種元素組成。根據《阿毗達摩論》，屬於黏性的水界並不包括在觸所緣之內。顏色等其他四種境色是屬於所造色。整體來說，境色的特相是撞擊淨色；作用是作為根識的目標；現起是作為根識之境；近因是四大元素。'},
                            {id: 26, title: '女性根色', 
                                Item1: '特相是女性', 
                                Item2: '作用是顯示「她是女性」', 
                                Item3: '現起是女性特有的色身、特徵、行為及工作之因', 
                                Item4: '近因是同一粒色聚裡的業生四大元素', 
                                Item5: '性根色（bhavarupa）有女根色與男根色兩種。這兩根各自的特相是女性與男性。它們各自的作用是顯示「她是女性」及「他是男性」；各自的現起是女與男特有的色身、特徵、行為及工作之因。（近因是同一粒色聚裡的業生四大元素。）'},
                            {id: 26, title: '男性根色', 
                                Item1: '特相是男性', 
                                Item2: '作用是顯示「他是男性」', 
                                Item3: '現起是男性特有的色身、特徵、行為及工作之因', 
                                Item4: '近因是同一粒色聚裡的業生四大元素', 
                                Item5: '性根色（bhavarupa）有女根色與男根色兩種。這兩根各自的特相是女性與男性。它們各自的作用是顯示「她是女性」及「他是男性」；各自的現起是女與男特有的色身、特徵、行為及工作之因。（近因是同一粒色聚裡的業生四大元素。）'},
                            {id: 27, title: '心色（hadayarupa）', 
                                Item1: '特相是提供意界和意識界依止或支持的色法', 
                                Item2: '作用是作為此二界的依處', 
                                Item3: '現起是支撐此二界', 
                                Item4: '近因是同一粒色聚裡的業生四大元素', 
                                Item5: '心色（hadayarupa）：關於心所依處（hadaya-vatthu），見第三章、節二十。心所依處的特相是提供意界和意識界依止或支持的色法（見第三章、節廿一）；作用是作為此二界的依處；現起是支撐此二界；（近因是同一粒色聚裡的業生四大元素。）它位於心臟裡的血，受四大元素所支助，以及由命根色所維持。'},
                            {id: 28, title: '命根（jivitindriya）', 
                                Item1: '特相是維持在住時的俱生色法', 
                                Item2: '作用是使到它們發生', 
                                Item3: '現起是維持這些色法存在', 
                                Item4: '近因是當被維持的四大元素', 
                                Item5: '命根（jivitindriya）：屬於遍一切心心所的命根是維持名法的命根；在此的命根則是維持色法的命根。「命」被稱為「根」是因為它控制與它俱生之法。命根的特相是維持在住時的俱生色法；作用是使到它們發生；現起是維持這些色法存在；近因是當被維持的四大元素。'},
                            {id: 29, title: '段食（kabalikarahara）', 
                                Item1: '特相是食物裡的營養或食素（oja）', 
                                Item2: '作用是維持色身', 
                                Item3: '現起是滋養身體', 
                                Item4: '近因是必須受到它滋養的處色', 
                                Item5: '段食（kabalikarahara）的特相是食物裡的營養或食素（oja）；作用是維持色身；現起是滋養身體；（近因是必須受到它滋養的處色。）'},
                            {id: 30, title: '空界（akasadhatu）', 
                                Item1: '特相是劃定色（聚）的界限', 
                                Item2: '作用是顯示色（聚）的邊際', 
                                Item3: '現起是色（聚）的界限或（色聚之間的）孔隙', 
                                Item4: '近因是應被區劃的色（聚）', 
                                Item5: '空界（akasadhatu）：於《阿毗達摩論》，空界並不只是指空間，而是諸色聚之間的空隙，令人能夠辨識它們為個別的個體。空界的特相是劃定色（聚）的界限；作用是顯示色（聚）的邊際；現起是色（聚）的界限或（色聚之間的）孔隙；近因是應被區劃的色（聚）。'},
                            {id: 31, title: '身表（kayavibbatti）', 
                                Item1: '心生風界的特別作用，使到身體移動以表達自己的意念', 
                                Item2: '有表達意念的作用', 
                                Item3: '現起是身體轉動', 
                                Item4: '近因是心生風界', 
                                Item5: '表色（vibbattirupa）：巴利文vibbatti（表）是指把自己的思想、感受與態度表達給他人知道的方法。有兩種表達的方法，即：身表（kayavibbatti）及語表（vacivibbatti）。前者是心生風界的特別作用，使到身體移動以表達自己的意念。後者是心生地界的特別作用，使到能夠發出聲音以表達自己的意志。這兩種都有表達意念的作用。它們各自的現起是身體轉動及言語之因；各自的近因是心生風界與心生地界。'},
                            {id: 31, title: '語表（vacivibbatti）', 
                                Item1: '心生地界的特別作用，使到能夠發出聲音以表達自己的意志', 
                                Item2: '有表達意念的作用', 
                                Item3: '現起是言語之因', 
                                Item4: '近因是心生地界', 
                                Item5: '表色（vibbattirupa）：巴利文vibbatti（表）是指把自己的思想、感受與態度表達給他人知道的方法。有兩種表達的方法，即：身表（kayavibbatti）及語表（vacivibbatti）。前者是心生風界的特別作用，使到身體移動以表達自己的意念。後者是心生地界的特別作用，使到能夠發出聲音以表達自己的意志。這兩種都有表達意念的作用。它們各自的現起是身體轉動及言語之因；各自的近因是心生風界與心生地界。'},
                            {id: 32, title: '色輕快性（rupassa lahuta）', 
                                Item1: '特相是不遲鈍', 
                                Item2: '作用是去除色法的沉重', 
                                Item3: '現起是色法輕快地生起及變易', 
                                Item4: '近因是輕快的色', 
                                Item5: '變化色（vikararupa）：這類色法是完成色的特別呈現方式。它包括了上述兩種表色，以及色輕快性、色柔軟性、色適業性三種色法。當中，色輕快性（rupassa lahuta）的特相是不遲鈍；作用是去除色法的沉重；現起是色法輕快地生起及變易；近因是輕快的色。'},
                            {id: 32, title: '色柔軟性（rupassa muduta）', 
                                Item1: '特相是不僵硬', 
                                Item2: '作用是去除色法的僵硬性', 
                                Item3: '現起是不對抗身體的一切作業', 
                                Item4: '近因是柔軟的色', 
                                Item5: '色柔軟性（rupassa muduta）的特相是不僵硬；作用是去除色法的僵硬性；現起是不對抗身體的一切作業；近因是柔軟的色。'},
                            {id: 32, title: '色適業性（rupassa kammabbata）', 
                                Item1: '特相是適合身體作業的適業性', 
                                Item2: '作用是去除（由於風界不平衡而造成的）不適業性', 
                                Item3: '現起是色法不軟弱', 
                                Item4: '近因是適業的色', 
                                Item5: '色適業性（rupassa kammabbata）的特相是適合身體作業的適業性；作用是去除（由於風界不平衡而造成的）不適業性；現起是色法不軟弱；近因是適業的色。'},
                            {id: 33, title: '色積集（rupassa upacaya）', 
                                Item1: '特相是開始建立（或成長至諸根具足）', 
                                Item2: '作用是令色法開始生起', 
                                Item3: '現起是起始或完成的狀態', 
                                Item4: '近因是生起之色法', 
                                Item5: '相色（lakkhanarupa）：這類有四種色法。當中，色積集（rupassa upacaya）與色相續（rupassa santati）都是指色法的「生」（jati，生時）。它們之間的差別是：前者是起初或開始時的色相續流之生起；後者是色相續流隨後不斷地再生起。例如：在結生時身十法聚、性根十法聚與心色十法聚的生起是色積集，（而在五根具足之後）這些色聚的生起是色相續。色積集的特相是開始建立（或成長至諸根具足）；作用是令色法開始生起；現起是起始或完成的狀態；近因是生起之色法。'},
                            {id: 33, title: '色相續（rupassa santati）', 
                                Item1: '特相是（在諸根具足之後，真實色法）持續不斷地生起', 
                                Item2: '作用是連續地結合', 
                                Item3: '現起是不間斷', 
                                Item4: '近因是當被繫結的色法', 
                                Item5: '色積集（rupassa upacaya）與色相續（rupassa santati）都是指色法的「生」（jati，生時）。它們之間的差別是：前者是起初或開始時的色相續流之生起；後者是色相續流隨後不斷地再生起。例如：在結生時身十法聚、性根十法聚與心色十法聚的生起是色積集，（而在五根具足之後）這些色聚的生起是色相續。色相續的特相是（在諸根具足之後，真實色法）持續不斷地生起；作用是連續地結合；現起是不間斷；近因是當被繫結的色法。'},
                            {id: 33, title: '色老性（rupassa jarata）', 
                                Item1: '特相是色法成熟與老化', 
                                Item2: '作用是導致壞滅', 
                                Item3: '現起是雖然還沒消失但已失去新性', 
                                Item4: '近因是正在衰老的色法', 
                                Item5: '色老性（rupassa jarata）的特相是色法成熟與老化；作用是導致壞滅；現起是雖然還沒消失但已失去新性；近因是正在衰老的色法。'},
                            {id: 33, title: '色無常性（rupassa aniccata）', 
                                Item1: '特相是色法完全壞滅', 
                                Item2: '作用是令到色法消失', 
                                Item3: '現起是色法滅盡', 
                                Item4: '近因是滅盡的色法', 
                                Item5: '色無常性（rupassa aniccata）的特相是色法完全壞滅；作用是令到色法消失；現起是色法滅盡；近因是滅盡的色法。'},
                            {id: 34, title: '「有餘涅槃界」（sa-upadisesa-nibbanadhatu）', 
                                Item1: '無為法', 
                                Item2: '出世間法', 
                                Item3: '阿羅漢所體驗的涅槃界', 
                                Item4: '煩惱之滅盡（kilesa-parinibbana）', 
                                Item5: '過去執取所產生的諸蘊還存在'},
                            {id: 34, title: '「無餘涅槃界」（anupadisesa-nibbanadhatu）', 
                                Item1: '無為法', 
                                Item2: '出世間法', 
                                Item3: '阿羅漢死時所證得的涅槃界', 
                                Item4: '諸蘊之滅盡（khandha-parinibbana）', 
                                Item5: '五蘊已完全被捨棄，不受後有'},
                            {id: 35, title: '涅槃-空（subbata）', 
                                Item1: '無為法', 
                                Item2: '出世間法', 
                                Item3: '無貪瞋痴', 
                                Item4: '無一切有為法'},
                            {id: 35, title: '涅槃-無相（animitta）', 
                                Item1: '無為法', 
                                Item2: '出世間法', 
                                Item3: '無貪瞋痴之相', 
                                Item4: '無一切有為法之相'},
                            {id: 35, title: '涅槃-無願（appanihita）', 
                                Item1: '無為法', 
                                Item2: '出世間法', 
                                Item3: '無貪瞋痴的渴望', 
                                Item4: '無渴愛之欲'},
                        ],
                        data4: [
                        ]
                    }
                },
                methods: {
                    show_level2 (item) {
                        if(this.level1_title != item.title) {
                            this.level1_title = item.title
                            this.level2_id = 0
                        }
                    },
                    show_level3 (item) {
                        this.level2_id = item.id
                    },
                    show_level4 (item) {
                        this.data4.push(item)
                    },
                    isshow2 (head) {
                        if(head == this.level1_title) {
                            return true
                        } else {
                            return false
                        }
                    },
                    isshow3 (item) {
                        if(item.id == this.level2_id) {
                            return true
                        } else {
                            return false
                        }
                    },
                    onDelme (index) {
                        this.data4.splice(index,1);
                    }
                }
            }

            // 創建一个 Vue 應用
            const app = Vue.createApp(App)

            // 定義组件
            app.component('four-1', {
                props: ['item'],
                template: `
                    <div class="div1">
                        <table>
                            <tr><td>{{ item.title }}</td></tr>
                            <tr><td>{{ item.skandha }}</td></tr>
                            <tr><td>{{ item.Item1 }}</td></tr>
                            <tr><td>{{ item.Item2 }}</td></tr>
                            <tr><td>{{ item.Item3 }}</td></tr>
                            <tr><td>{{ item.Item4 }}</td></tr>
                        </table>
                    </div>`
            })
            app.component('four-2', {
                props: ['seen', 'item'],
                template: `
                    <div class="div2" v-if="seen">
                        <table>
                            <tr><td>{{ item.title }}</td></tr>
                            <tr><td>{{ item.detail }}</td></tr>
                        </table>
                    </div>`
            })
            app.component('four-3', {
                props: ['seen', 'item'],
                template: `
                    <div class="div3" v-if="seen">
                        <table>
                            <tr><td>{{ item.title }}</td></tr>
                            <tr><td>{{ item.Item1 }}</td></tr>
                            <tr><td>{{ item.Item2 }}</td></tr>
                            <tr><td>{{ item.Item3 }}</td></tr>
                            <tr><td>{{ item.Item4 }}</td></tr>
                        </table>
                    </div>`
            })
            app.component('four-4', {
                props: ['item', 'index'],
                template: `
                    <div class="div4">
                        <table>
                            <tr><td><button @click="$emit('delme',index)" style="float: right;">X</button>{{ item.title }}</td></tr>
                            <tr><td>{{ item.Item1 }}</td></tr>
                            <tr><td>{{ item.Item2 }}</td></tr>
                            <tr><td>{{ item.Item3 }}</td></tr>
                            <tr><td>{{ item.Item4 }}</td></tr>
                            <tr v-if="item.Item5 !== undefined"><td>{{ item.Item5 }}</td></tr>
                        </table>
                    </div>`
            })

            app.mount('#four')
        </script>
    </body>
</html>